@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon78ed.eot?orkqwr');
  src: url('../fonts/icomoon78ed.eot?orkqwr#iefix') format('embedded-opentype'),
    url('../fonts/icomoon78ed.ttf?orkqwr') format('truetype'),
    url('../fonts/icomoon78ed.woff?orkqwr') format('woff'),
    url('../fonts/icomoon78ed.svg?orkqwr#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}







.icon-checked-1:before {
  content: "\e900";
}

.icon-ux:before {
  content: "\e901";
}

.icon-quotation:before {
  content: "\e902";
}

.icon-minus:before {
  content: "\e903";
}

.icon-left:before {
  content: "\e904";
}

.icon-next:before {
  content: "\e905";
}

.icon-solidarity:before {
  content: "\e906";
}

.icon-facebook-app-symbol:before {
  content: "\e907";
}

.icon-check:before {
  content: "\e908";
}

.icon-instagram:before {
  content: "\e909";
}

.icon-paper-plane:before {
  content: "\e90a";
}

.icon-send:before {
  content: "\e90b";
}

.icon-down:before {
  content: "\e90c";
}

.icon-left-arrow:before {
  content: "\e90d";
}

.icon-right-arrow:before {
  content: "\e90e";
}

.icon-youtube:before {
  content: "\e90f";
}

.icon-chevron-left:before {
  content: "\e910";
}

.icon-chevron:before {
  content: "\e911";
}

.icon-right-chevron:before {
  content: "\e912";
}

.icon-right-chevron1:before {
  content: "\e913";
}

.icon-behance:before {
  content: "\e914";
}

.icon-up-arrow:before {
  content: "\e915";
}

.icon-down-arrow1:before {
  content: "\e916";
}

.icon-twitter:before {
  content: "\e917";
}

.icon-star:before {
  content: "\e918";
}

.icon-cancel:before {
  content: "\e919";
}

.icon-delivery-service:before {
  content: "\e91a";
}

.icon-donation:before {
  content: "\e91b";
}

.icon-crowdfunding:before {
  content: "\e91c";
}

.icon-team:before {
  content: "\e91d";
}

.icon-internet:before {
  content: "\e91e";
}

.icon-telephone:before {
  content: "\e91f";
}

.icon-zakat:before {
  content: "\e920";
}

.icon-supplies:before {
  content: "\e921";
}

.icon-charity:before {
  content: "\e922";
}

.icon-first-aid-kit:before {
  content: "\e923";
}

.icon-search-interface-symbol:before {
  content: "\e924";
}

.icon-shopping-cart:before {
  content: "\e925";
}

.icon-calendar:before {
  content: "\e926";
}

.icon-salad:before {
  content: "\e927";
}

.icon-location:before {
  content: "\e928";
}

.icon-mail:before {
  content: "\e929";
}

.icon-play-button-arrowhead:before {
  content: "\e92a";
}

.icon-heart:before {
  content: "\e92b";
}

.icon-linkedin-big-logo:before {
  content: "\e92c";
}

.icon-mortarboard:before {
  content: "\e92d";
}

.icon-girl-power:before {
  content: "\e92e";
}

.icon-checked:before {
  content: "\e92f";
}

.icon-down-arrow:before {
  content: "\e930";
}

.icon-up-arrow1:before {
  content: "\e931";
}

.icon-money:before {
  content: "\e932";
}

.icon-healthy-food:before {
  content: "\e933";
}

.icon-charity-1:before {
  content: "\e934";
}

.icon-package:before {
  content: "\e935";
}

.icon-plus:before {
  content: "\e936";
}

.icon-diagonal-arrow:before {
  content: "\e937";
}

.icon-diagonal-arrow1:before {
  content: "\e938";
}

.icon-clock:before {
  content: "\e939";
}

.icon-supermarket-left:before {
  content: "\e93a";
}

.icon-supermarket:before {
  content: "\e93b";
}

.icon-email:before {
  content: "\e93c";
}

.icon-business-right:before {
  content: "\e93d";
}

.icon-business:before {
  content: "\e93e";
}

.icon-share:before {
  content: "\e93f";
}

.icon-warning:before {
  content: "\e940";
}

.icon-user:before {
  content: "\e941";
}

.icon-fax:before {
  content: "\e942";
}

.icon-view:before {
  content: "\e943";
}

.icon-link:before {
  content: "\e944";
}

.icon-chat:before {
  content: "\e945";
}

.icon-support:before {
  content: "\e946";
}

.icon-question:before {
  content: "\e947";
}

.icon-telephone-call:before {
  content: "\e948";
}

.icon-gps:before {
  content: "\e949";
}

.icon-email-1:before {
  content: "\e94a";
}

.icon-double-quotes2:before {
  content: "\e94b";
}

.icon-double-quotes:before {
  content: "\e94c";
}

.icon-telephone1:before {
  content: "\e94d";
}

.icon-hamburger:before {
  content: "\e94e";
}

.icon-share-1:before {
  content: "\e94f";
}

.icon-trophy:before {
  content: "\e950";
}

.icon-costumer:before {
  content: "\e951";
}

.icon-dollar-currency-symbol:before {
  content: "\e952";
}